/*--------------------Top Navigation Bar -------------------------------------------------------------*/
.topnav {
  /*https://www.w3schools.com/howto/howto_js_topnav_responsive.asp I got help from this webiste */
  overflow: hidden;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding-left: 80px; /* At the moment I am not sure why the logo and the body's logo dont align*/
  max-height: 100px;
  z-index: 13; /* I asked chat GPT how can i make that my button, slides under my topnav menu. Date 23.05.23 17:13*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif; /* I was searching for Tex Gyre Termes, but find this works also*/
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #b99668;
}

.topnav a:active {
  background-color: #717717;
}

.topnav .icon {
  display: none;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 480px) {
  html,
  body {
    /*https://www.youtube.com/watch?v=0DydwV6KrjA (video:00:55 till 1:33)all of the sudden on my mobile the the x and y was overflowing and making my topnav very wide*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .topnav {
    padding: 0;
    max-height: 600px; /* this keeps the button menu visable... */
    position: fixed;
  }
  .topnav a:not(:nth-child(3)) {
    /*The media query is used to hide all the a elements except the first one using the :not(:nth-child(1)) selector.//source chatGPT//*/
    display: none;
    text-align: center;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    /*The .topnav.responsive class is used to target the responsive behavior.//source chatGPT//*/
    flex-direction: column;
    align-items: flex;
    position: fixed;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    /*The .topnav.responsive a selector is used to make the links display as blocks for the vertical layout//source chatGPT//*/
    float: none;
    display: block;
  }
}
@media screen and (max-width: 821px) and (min-width: 481px) {
  html,
  body {
    /*https://www.youtube.com/watch?v=0DydwV6KrjA (video:00:55 till 1:33)all of the sudden on my mobile the the x and y was overflowing and making my topnav very wide*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .topnav {
    padding: 0;
    max-height: 600px; /* this keeps the button menu visable... */
    position: fixed;
  }
  .topnav a:not(:nth-child(3)) {
    /*The media query is used to hide all the a elements except the first one using the :not(:nth-child(1)) selector.//source chatGPT//*/
    display: none;
    text-align: center;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    /*The .topnav.responsive class is used to target the responsive behavior.//source chatGPT//*/
    flex-direction: column;
    align-items: flex;
    position: fixed;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    /*The .topnav.responsive a selector is used to make the links display as blocks for the vertical layout//source chatGPT//*/
    float: none;
    display: block;
  }
}
@media screen and (max-width: 1024px) and (min-width: 822px) {
  html,
  body {
    /*https://www.youtube.com/watch?v=0DydwV6KrjA (video:00:55 till 1:33)all of the sudden on my mobile the the x and y was overflowing and making my topnav very wide*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
.hotellogo {
  max-height: 100px;
}

/*---------------------------------------------------------Homepage-slides----------------------------------------------------------------------------------------------------------------------------------*/
/* source that i used to help my build the slides. https://www.w3schools.com/howto/howto_js_slideshow.asp  */
/* Slideshow container */
.slideshow-container {
  position: relative;
  top: -75px;
  margin: auto;

  /*Slideshow img control*/
}
.mySlides.fade img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1); /* Add a shadow give the box a more 3rd feel. source:https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-css-colors-by-building-a-set-of-colored-markers/step-94 */
  display: block; /* the border of the container and img had a gap. I ask chat GPT what is wrong with my code. 24.05.23 16:53 */
  max-height: 800px;
}
/* Overlay on the last img */
/* Source https://developer.mozilla.org/en-US/docs/Web/CSS/animation */
.base-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  animation: delayedAppear 8.5s forwards; /* AFter getting beter at CSS I got learned this today:https://developer.mozilla.org/en-US/docs/Web/CSS/transition-delay?retiredLocale=de 31.05.23 15:42 */
}

@keyframes delayedAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text ------ at the moment i have comment this out in the HTML file*/
.text {
  color: black;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 600px;
  text-align: center;
  margin-left: 600px;
}

/* Number text (1/3 etc)------- at the moment i have comment this out in the HTML file */
.numbertext {
  color: #db1919;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dots-container {
  margin-top: -85px;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717717;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media screen and (max-width: 600px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
.slideshow-container {
  margin-top: 175px;
}
.mySlides img {
  width: 100%;
  height: auto;
}

/*-------Body----------------*/

body {
  margin: 0;
  background: radial-gradient(black, #c0c0c0);
  background-repeat: no-repeat;
  font-family: Georgia, "Times New Roman", Times, sans-serif;
  width: 100%;
  padding: 0;
}
h1 {
  text-align: center;
  color: whitesmoke;
}

/*---------------------------------Restaurant----------------------------*/

.greeting {
  text-align: center;
  font-size: 25px;
  padding-bottom: 60px;
  color: white;
}
.topline {
  border: 2px solid #ededed;
}
.blocks-container {
  max-width: 1800px;
  text-align: center;
  margin: auto;
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  background-color: black;
}

.picture-section,
.opening-times-section,
.picture-section-2,
.directions-section {
  flex-grow: 1;
}

.picture-section img,
.picture-section-2 img {
  max-width: 100%;
  height: auto;
}
.opening-times-section,
.directions-section {
  flex-basis: 25%;
  max-width: 100%;
  padding: 10px;
}

.opening-times-section {
  background-color: black;
  color: whitesmoke;
}

.opening-times-section h2 {
  margin-top: 0;
}

.opening-times-section ul {
  list-style: none;
  padding: 0;
}

.opening-times-section li {
  margin-bottom: 5px;
}

.opening-times-section .weekday {
  font-weight: bold;
}

.directions-section {
  background-color: black;
  color: white;
}

.directions-section h2 {
  color: white;
  margin-top: 0;
}

.directions-section p {
  margin-bottom: 10px;
}

.directions-section a {
  color: white;
  text-decoration: none;
}

.directions-section a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .greeting {
    font-size: 15px;
    padding: 20px;
  }

  .blocks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 0;
    box-sizing: border-box;
  }

  .blocks-container > div {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
  }

  .picture-section img,
  .picture-section-2 img {
    max-width: 100%;
    height: auto;
    transform: rotate(90deg);
  }
}
.modal {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: #b99668;
  width: 800px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: #d9d9d9;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}
.title {
  text-align: center;
  margin: auto;
}
.modal-header .title h1 {
  color: black;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/*-----------------Reservation-------------------------*/
.modal-body p {
  color: black;
}
.input-1 {
  color: black;
  display: block;
  width: 300px;
}

.modal-body h5 {
  margin: 0;
  width: 100%; /* Adjust the width as per your preference */
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-body b {
  float: right;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.modal-body p {
  font-size: 16px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modalbutton {
  position: relative;
  top: -780px; /* Move the button 10 pixels down */
  left: 60px;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  z-index: 11;
  border-radius: 20%;
  width: 135px;
}
.modalbutton:nth-of-type(2) {
  /* CSS properties for the second button */
  top: -760px;
}
/*Piece of shit like the Galaxy Fold-----------remove the this later*/
@media screen and (max-width: 280px) {
  .modalbutton {
    top: 103px; /* Move the button 10 pixels down */
    left: 12px;
    position: fixed;
    padding: 2px 2px;
    background-color: #d9d9d9;
    border-radius: 10px;
    z-index: 14;
    width: 110px;
  }
  .modalbutton:nth-of-type(2) {
    /* CSS properties for the second button */
    top: 103px;
    left: 150px;
  }
  .modal {
    top: 65%;
    max-width: 100%;
  }
  .modal-header {
    width: 110%;
  }
}
/*media for smartphones*/
@media screen and (max-width: 480px) and (min-width: 281px) {
  .modalbutton {
    top: 15px; /* Move the button 10 pixels down */
    left: 3px;
    position: fixed;
    padding: 4px 4px;
    background-color: #d9d9d9;
    border-radius: 10px;
    z-index: 14;
    width: 110px;
  }
  .modalbutton:nth-of-type(2) {
    /* CSS properties for the second button */
    top: 50px;
  }
  .modal {
    top: 60%;
    max-width: 95%;
  }
}
/* Styles for tablets */
@media screen and (max-width: 821px) and (min-width: 481px) {
  .modalbutton {
    top: 30px; /* Move the button 10 pixels down */
    left: 10px;
    position: fixed;
    padding: 10px 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
    z-index: 14;
    width: 120px;
  }
  .modalbutton:nth-of-type(2) {
    /* CSS properties for the second button */
    top: 80px;
  }
}
/* Styles for bigger tablets */
@media screen and (max-width: 1024px) and (min-width: 822px) {
  .modalbutton {
    top: -470px; /* Move the button 10 pixels down */
    left: 10px;
    padding: 10px 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
    width: 120px;
  }
  .modalbutton:nth-of-type(2) {
    /* CSS properties for the second button */
    top: -460px;
  }
}
/* Even more bigger... */
@media screen and (max-width: 1300px) and (min-width: 1025px) {
  .modalbutton {
    top: -670px; /* Move the button 10 pixels down */
    left: 10px;
    padding: 10px 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
    width: 120px;
  }
  .modalbutton:nth-of-type(2) {
    /* CSS properties for the second button */
    top: -665px;
  }
}

/*------------------------Footer------------------------------*/

ol {
  list-style: none;
  padding: 0;
}
.project-info {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

.project-item {
  margin-bottom: 5px;
  color: #ededed;
}

.project-member {
  font-weight: bold;
}

.content-line {
  border-top: 1px solid #fff;
  margin: 20px 0;
}

/* checkin and checkout */

.container {
  display: flex;
  justify-content: space-evenly;
}
.input-group {
  display: inline;
  width: 300px;
}
.input-label {
  display: block;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-bottom: 1rem;
}

.btn {
  position: relative;
  top: -16px;
  left: 0;
  cursor: pointer;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  width: 135px;
  background-color: #d9d9d9;
}
.input-label {
  text-align: center;
}
.options,
.input {
  width: 100%;
}
.btn:hover {
  background-color: #717717;
  text-decoration: none !important; /*I ask ChatGPT 31.05.23 13:00 how can i remove the underline under the word Suche */
}
.btn-search {
  color: black;
}
@media screen and (max-width: 480px) and (min-width: 281px) {
  .btn {
    top: 20px; /* Move the button 10 pixels down */
    left: 100px;
    position: relative;
    padding: 10px 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
  }
  .input-label {
    text-align: center;
  }
  .options,
  input {
    width: 100%;
  }
}
