body {
  background-color: rgba(138, 136, 136, 0.815);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: sans-serif;
  padding: 20px;
}
.logo{
  max-width: 80%;
  max-height: 80%;
  
 
  height: auto;
  
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
.greeting {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
.frame2{
  background: radial-gradient(circle at center, silver, rgba(136, 135, 133, 0.596));
  text-align: center;

}
.topline {
  border: none;
  border-top: 2px solid #f8f3f3ad;
  margin-bottom: 20px;
}

.menu {
  border: 10px solid gold;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 800px;
  background-image: url(menubackground1.svg);
  color: #EDEDED;
}

h1, h2, p {
  text-align: center;
}

.SDH, .Vorspeise, .hauptspeise, .Getränke, .Nachtisch {
  text-align: left;
  width: 75%;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.price {
  text-align: right;
  width: 25%;
}

.blocks-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.Block2 {
flex-basis: 100%;
 position: relative;
  
}
.block-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;

}

.Block2, .Block3, .Block4 {
  text-align: center;
  width: 100%;
  max-width: 300px;
}

img {
  display: block;
  margin: 0 auto;
}
/* Responsive Styles */

@media screen and (max-width: 767px) {
  /* Styles for smartphones */
  .menu {
    width: 90%;
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  .SDH, .Vorspeise, .hauptspeise, .Getränke, .Nachtisch {
    width: 100%;
  }

  .item p {
    font-size: 16px;
  }

  .Block2, .Block3, .Block4 {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets */
  .menu {
    width: 90%;
    padding: 15px;
  }
}

/* Additional styles for PC browsers can be added here */
