  body{
    background-image: url(file:///E:/OneDrive/Intenetanwendungen/Project_Hotel/Background%20img.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    padding: 20px; 
}
h1 {
  font: size 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
.menu{
  width: 80%;
  background-color: #e0ddd9b4;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 800px;


}
h1, h2, p{
  text-align: center;
}
.SDH{
  text-align: left;
  width:75%;

}
.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}


.price {
  text-align: right;
  width: 25%;
  
}
.Vorspeise{
  text-align: left;
  width:75%;
}
.hauptspeise{
  text-align: left;
width:75%;
}
.Getränke{
  text-align: left;
  width:75%;
}
.Nachtisch{
  text-align: left;
  width: 75%;

}
.Block2{
  text-align: center;
  width: 300px;
  display: inline-block
}
.Block3{text-align: center;
  width: 300px;
  display: inline-block
}
.Block4{
  text-align: center;
  width: 300px;
  
}