.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: #b99668;
  width: 800px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: #d9d9d9;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}
.title {
  text-align: center;
  margin: auto;
}
.modal-header .title h1 {
  color: black;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/*-----------------Reservation-------------------------*/
.modal-body p {
  color: black;
}
.input-1 {
  color: black;
  display: block;
  width: 300px;
}
.input-2 {
}
.modal-body h5 {
  margin: 0;
  width: 100%; /* Adjust the width as per your preference */
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-body b {
  float: right;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.modal-body p {
  font-size: 16px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modalbutton {
  position: relative;
  top: -780px; /* Move the button 10 pixels down */
  left: 60px;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  z-index: 11;
  border-radius: 20%;
  width: 135px;
}
.modalbutton:nth-of-type(2) {
  /* CSS properties for the second button */
  top: -760px;
}

/*media for smartphones*/
@media screen and (max-width: 600px) {
  .modalbutton {
    top: 25px; /* Move the button 10 pixels down */
    left: 10px;
    position: fixed;
    padding: 8px 8px;
    background-color: #d9d9d9;
    border-radius: 10px;
    z-index: 14;
  }
  .modalbutton:nth-of-type(2) {
    /* CSS properties for the second button */
    top: 70px;
  }
}
/* Styles for tablets */
@media (min-width: 601px) and (max-width: 1200px) {
  .modalbutton {
    top: -480px;
    left: 10px;
    padding: 10px 10px;
  }
  .modalbutton:nth-of-type(2) {
    /* CSS properties for the second button */
    top: -460px;
  }
}
