/*-------Body----------------*/

body {
  margin: 0;
  background: radial-gradient(black, #c0c0c0);
  background-repeat: no-repeat;
  font-family: Georgia, "Times New Roman", Times, sans-serif;
  width: 100%;
  padding: 0;
}
h1 {
  text-align: center;
  color: whitesmoke;
}

.hotellogo {
  max-height: 100px;
  width: 200px;
}

* {
  box-sizing: border-box;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  font-size: 50px;
  word-break: normal;
  margin-top: 150px;
}

p {
  text-align: center;
  font-size: 30px;
  color: white;
}

h3 {
  text-align: center;
  color: whitesmoke;
  background-color: #b99668;
  margin-top: 0%;
  margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 30px;
}

ul,
li {
  background-color: #b99668;
  color: whitesmoke;
  font-size: medium;
  margin-top: auto;
  padding-top: 5px;
  padding-bottom: 7px;
  text-align: center;
}

.button {
  border-radius: 4px;
  background-color: #936a34;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 3px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 50px;
  margin-left: auto;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #b99668;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
