/* merriweather-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/merriweather-v30-latin-regular.woff2') format('woff2');
}

/* merriweather-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/merriweather-v30-latin-italic.woff2') format('woff2');
}


body {
  font-family: "Merriweather", sans-serif;
  background: linear-gradient(to top right, black, #888, silver); background-repeat: no-repeat;
  width: 75%;
  max-width: 1300px;
  min-width: 600px;
  margin: 0 auto;
  position: relative;
}

/*Navbar*/

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

a {
  color: #831d17;
  text-decoration: none;
  font-weight: 700;
}

a.navbar_a {
  color: #831d17;
  text-decoration: none;
  font-weight: 700;
  padding: 16px;
}

a:hover {
  text-decoration: underline;
}

/*Header & Slideshow*/

.headline {
  color: #831d17;
  flex: 1;
}

.text-highlight {
  color: #484846;
  font-size: 57px;
}

.image-container {
  background-color: #b99668;
  border-top: 8px solid #484846;
  border-bottom: 8px solid #484846;
  margin-bottom: 30px;
  margin-right: 20px;
  padding: 15px 40px;
  flex: 1 0 600px;
  max-width: 800px;
  object-position: top center;
}

.header-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 50% 15%;
  display: block;
}

.slideshow-container {
  padding: 0px;
  position: relative;
  width: 100%;
  height: 350px; /* Höhe kann man nach Bedürfnissen anpassen */
  object-position: top center;
  overflow: hidden;
}

.slide {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figcaption {
  display: inline-block;
  text-align: left;
  color: #484846;
  font-size: 40px;
}

/*Inhalte*/

.content {
  display: flex;
  flex-wrap: wrap;
}

article {
  background-color: #b99668;
  border-top: 8px solid #484846;
  border-bottom: 8px solid #484846;
  margin-right: 20px;
  margin-bottom: 30px;
  padding: 15px 40px;
  position: relative;
  flex: 1 0 500px;
  max-width: 700px;
}

.text-container {
  background-color: #f7f2c1;
  color: #484846;
  font-size: 44px;
  font-weight: 600;
  text-align: left;
  padding: 1%;
}

.Überschriften-Sehenswürdigkeiten {
  color: #f7f2c1;
  font-size: 34px;
  font-weight: bold;
  text-decoration-line: underline;
}

.Partnachklamm-container {
  background-color: #b99668;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Partnachklamm-Text{
  width: 40%;
  font-size: 18px;
  font-style: italic;
  flex: 1 0 400px;
  max-width: 700px;
}

.Partnachklamm-frame {
  border: 0;
  height: 60%;
  width: 60%;
  object-position: top center;
  flex: 1 0 400px;
  max-width: 700px;
}

/*Button*/

.scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color:#b99668;
  color: #f7f2c1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.scroll-top-button.active {
  opacity: 1;
  visibility: visible;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #f7f2c1;
  transform: rotate(180deg);
}

.scroll-top-button {
  animation: fadeInUp 0.5s ease-in-out both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Footer*/
.legal-content {
  padding: 8px;
}

.legal-text {
  margin-right: 16px;
}